{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Plan of utility lines</h1>
            
            <div id="holder" class="container border"></div>
            
            
            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}

